html, body {
  background-color: #D2D2D2;
}

#main-content {
  margin: 0 auto;
}

#top-nav {
}

#message-list {
  margin-top: 3rem;
}

@media (min-width: 800px) {
  #main-content {
    width: 800px;
  }

  .md-dialog-content {
    width: 700px;
  }
} 

#post-message {
  padding: 2rem;
}

.panel-heading {
  display: flex;
}

.post-id {
  flex: 1;
}

.post-date {
  text-align: right;
  flex: 1;
}
